version: '3.8'

services:
  server:
    build: ./server
    container_name: vectora-server
    ports:
      - "8000:8000"
    volumes:
      - ./server:/app
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    restart: always

  client:
    build: ./client
    container_name: vectora-client
    ports:
      - "3000:3000"
    volumes:
      - ./client:/app
      - /app/node_modules
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
    depends_on:
      - server
    restart: always
